@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

@media screen and (max-width: 640px) {
  .haut {
    background-image: url("assets/Hero_BG.png");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; }
    .haut .input {
      display: flex;
      margin: 10px;
      border-width: 0px; }
      .haut .input .learnmore {
        display: flex;
        color: #fff;
        background-color: #93A5FF;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px; }
      .haut .input ::placeholder {
        background-color: #384170;
        color: #fff; }
    .haut header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 30px; }
      .haut header .content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .haut header .content nav {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: end;
          padding: 10px;
          height: 100%; }
          .haut header .content nav a {
            display: flex;
            justify-content: center;
            width: 20%;
            height: 100%;
            text-decoration: none;
            color: #fff; }
            .haut header .content nav a:hover {
              background-color: #93A5FF;
              border-radius: 5px;
              height: 250%; }
          .haut header .content nav :nth-child(4) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%; }
        .haut header .content .logo {
          justify-content: flex-end;
          margin-top: 2vh;
          margin-left: 15px; }
        .haut header .content .login {
          display: flex;
          color: #93A5FF;
          background-color: #fff;
          font-size: 16px;
          padding: 10px 15px;
          border-radius: 5px; }

  .stars {
    width: auto;
    height: 771px;
    background-color: #F7F8FF; }
    .stars .gridas {
      max-width: 100%;
      height: 600px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr 1fr;
      padding: 2%;
      margin-top: 30px; }
      .stars .gridas .erich {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        width: 485px;
        height: 250px;
        margin-left: 20%; }
      .stars .gridas .emily {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        width: 485px;
        height: 250px;
        margin-left: 10%; }
      .stars .gridas .pagination {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        max-width: 15%;
        margin-left: auto;
        margin-right: auto; }
      .stars .gridas .grid {
        height: 100%; }
        .stars .gridas .grid .grid1 {
          grid-column: 1 / 3;
          grid-row: 1 / 1;
          margin-left: 50px; }
        .stars .gridas .grid .grid2 {
          grid-column: 1 / 3;
          grid-row: 2 / 2;
          margin-left: 50px; }
        .stars .gridas .grid .grid3 {
          grid-column: 1 / 3;
          grid-row: 3 / 3;
          margin-left: 50px; }
        .stars .gridas .grid .droite {
          margin-top: 30px;
          grid-column: 3 / 5;
          grid-row: 1 / 4;
          max-width: 100%;
          max-height: 100%; }
      .stars .gridas .point3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-height: 170px;
        max-width: 170px; }
      .stars .gridas .point4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        max-height: 170px;
        max-width: 170px; }

  .footer-grid {
    padding-left: 20px; } }
html, body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0; }

.haut {
  background-image: url("assets/Hero_BG.png");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .haut .input {
    display: flex;
    margin: 150px;
    border-width: 0px; }
    .haut .input .learnmore {
      display: flex;
      color: #fff;
      background-color: #93A5FF;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px; }
    .haut .input ::placeholder {
      background-color: #384170;
      color: #fff; }
  .haut header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px; }
    .haut header .content {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .haut header .content nav {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 10px;
        height: 100%; }
        .haut header .content nav a {
          display: flex;
          justify-content: center;
          width: 20%;
          height: 100%;
          text-decoration: none;
          color: #fff; }
          .haut header .content nav a:hover {
            background-color: #93A5FF;
            border-radius: 5px;
            height: 250%; }
        .haut header .content nav :nth-child(4) {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30%; }
      .haut header .content .logo {
        justify-content: flex-end;
        margin-top: 2vh;
        margin-left: 15px; }
      .haut header .content .login {
        display: flex;
        color: #93A5FF;
        background-color: #fff;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 5px; }

.titre h2 {
  color: white;
  margin-left: 150px;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Roboto'; }

.titre h4 {
  color: white;
  filter: brightness(80%);
  margin-left: 150px; }

.ville {
  margin-top: 30px;
  margin-right: 3%;
  width: 789px;
  height: 372px; }

.titre {
  margin-top: 150px; }

.flex {
  display: flex; }

.groupe-1, .groupe-2, .groupe-3 {
  width: 634px;
  height: auto;
  margin-left: 10%; }

.groupe img {
  width: 70px;
  height: 70px; }

.groupe div, .groupe p {
  filter: brightness(80%); }

.point {
  display: flex;
  position: relative;
  width: 191px;
  height: 191px; }

.bleulaiger {
  width: auto;
  height: 100%;
  background-color: #F7F8FF; }
  .bleulaiger .grolle {
    width: 100vw;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2%;
    gap: 30px; }
    .bleulaiger .grolle .card-1 {
      position: relative;
      background-color: #93A5FF;
      border-radius: 5px;
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      margin-right: 4vw; }
      .bleulaiger .grolle .card-1 .learnmore {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        background-color: #fff;
        border: none;
        color: #93A5FF;
        padding: 12px 20px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        justify-content: flex-end;
        border-radius: 5px; }
      .bleulaiger .grolle .card-1 .droite {
        margin-top: 30px;
        margin-left: 30px; }
      .bleulaiger .grolle .card-1 .logo {
        margin-left: 50vh; }
      .bleulaiger .grolle .card-1 .ecart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 25px; }
      .bleulaiger .grolle .card-1 .text {
        margin-top: 70px;
        margin-left: 30px; }
    .bleulaiger .grolle .card-1 p, .bleulaiger .grolle .card-1 h5, .bleulaiger .grolle .card-2 p, .bleulaiger .grolle .card-2 h5 {
      color: #fff; }
    .bleulaiger .grolle .card-1 a {
      border: red; }
    .bleulaiger .grolle .card-2 {
      position: relative;
      background-color: #424D83;
      border-radius: 5px;
      grid-column: 3 / 5;
      grid-row: 1 / 4;
      margin-right: 6vw; }
      .bleulaiger .grolle .card-2 .learnmore {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        background-color: #fff;
        border: none;
        color: #93A5FF;
        padding: 12px 20px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        justify-content: flex-end;
        border-radius: 5px; }
      .bleulaiger .grolle .card-2 .droite {
        margin-top: 30px;
        margin-left: 30px; }
      .bleulaiger .grolle .card-2 .logo {
        margin-left: 50vh; }
      .bleulaiger .grolle .card-2 .ecart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 25px; }
      .bleulaiger .grolle .card-2 .text {
        margin-top: 70px;
        margin-left: 30px; }

.deux {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-left: auto;
  margin-right: auto; }

.corde {
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2%;
  margin-top: 30px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto; }
  .corde .tailleprix {
    border-radius: 5px;
    width: 275px;
    height: 350px;
    box-shadow: rgba(133, 132, 132, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-bottom: auto;
    justify-content: center;
    text-align: center;
    margin-top: 30px; }
    .corde .tailleprix .top {
      height: 60%; }
    .corde .tailleprix .tailleprix {
      display: flex;
      height: 40%;
      padding-top: 50px;
      flex-direction: column; }
    .corde .tailleprix .marg {
      width: auto;
      margin-top: 15px; }
    .corde .tailleprix .margtop {
      margin-top: 30px; }
  .corde .tailleprixhoverfull {
    border-radius: 5px;
    width: 275px;
    height: 450px;
    box-shadow: rgba(133, 132, 132, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-bottom: auto;
    justify-content: center;
    text-align: center;
    margin-top: 30px; }
    .corde .tailleprixhoverfull .customize {
      display: flex;
      background-color: #F7F8FF;
      border: none;
      color: #93A5FF;
      padding: 15px 32px;
      text-decoration: none;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      justify-content: center;
      margin-top: 5vw;
      border-radius: 5px; }
    .corde .tailleprixhoverfull .marg {
      width: auto;
      margin-top: 15px; }
    .corde .tailleprixhoverfull .margtop {
      margin-top: 30px; }
  .corde hr {
    margin-top: 50px;
    margin-bottom: 50px; }

.grille {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2%;
  margin-top: 30px; }
  .grille .grid {
    height: 100%; }
  .grille .grid1 {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    margin-left: 50px; }
    .grille .grid1 .gap {
      margin-left: 30px; }
  .grille .grid2 {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    margin-left: 50px; }
    .grille .grid2 .gap {
      margin-left: 20px; }
  .grille .grid3 {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    margin-left: 50px; }
    .grille .grid3 .gap {
      margin-left: 30px; }
  .grille .droite {
    margin-top: 30px;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    max-width: 100%;
    max-height: 100%; }
  .grille .point1 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    z-index: 1; }
  .grille .point2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    z-index: 1; }

.stars {
  width: auto;
  height: 771px;
  background-color: #F7F8FF; }
  .stars .gridas {
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
    padding: 2%;
    margin-top: 30px; }
    .stars .gridas .erich {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 485px;
      height: 250px;
      margin-left: 20%; }
    .stars .gridas .emily {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
      width: 485px;
      height: 250px;
      margin-left: 10%; }
    .stars .gridas .pagination {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
      max-width: 15%;
      margin-left: auto;
      margin-right: auto; }
    .stars .gridas .grid {
      height: 100%; }
      .stars .gridas .grid .grid1 {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        margin-left: 50px; }
      .stars .gridas .grid .grid2 {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        margin-left: 50px; }
      .stars .gridas .grid .grid3 {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
        margin-left: 50px; }
      .stars .gridas .grid .droite {
        margin-top: 30px;
        grid-column: 3 / 5;
        grid-row: 1 / 4;
        max-width: 100%;
        max-height: 100%; }
    .stars .gridas .point3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      max-height: 170px;
      max-width: 170px; }
    .stars .gridas .point4 {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      max-height: 170px;
      max-width: 170px; }

.second {
  text-align: center;
  padding-top: 60px; }
  .second .secdon h2 {
    font-weight: 700; }
  .second .second p {
    filter: brightness(80%);
    color: #1f1f1f; }

.laga {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  padding: 4%;
  gap: 5px;
  margin-left: 40px;
  margin-right: auto; }
  .laga .reseaux {
    width: 150px;
    height: 54px; }

.buttonbleu {
  display: flex;
  background-color: #93A5FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  justify-content: center;
  border-radius: 5px; }

.footer-main {
  background-image: url("assets/footer_bg.svg");
  padding: 25px; }
  .footer-main .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 120px;
    padding-top: 10%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; }
  .footer-main .bottomfooter {
    margin-top: 90px; }
  .footer-main .logo {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 3.5vw;
    gap: 8px; }
  .footer-main .double {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 3.5vw;
    margin-top: 15px; }

/*# sourceMappingURL=main.css.map */
